<mat-toolbar flex color="primary" style="position: fixed;z-index: 600">
  <span [routerLink]="['/']" style="padding-left: 30px" class="font-secondary pointerCursor"><h1 style="font-size: 40px;">Insure</h1></span>

  <!-- This fills the remaining space of the current row -->
  <span class="example-fill-remaining-space"></span>
  <!-- <button mat-button (click)="openLoginDialog()" >Login/SignUp</button> -->
  <!-- <button *ngIf="true" [routerLink]="['/jobs']" mat-button>Login</button> -->
  <!-- <mat-icon class="example-icon">verified_user</mat-icon> -->
  <!-- <mat-icon [routerLink]="['/profile']" class="pointerCursor" *ngIf="profileImageDisplay && user.email.length > 0 && user.uniqueId.length > 0">account_box</mat-icon> -->
  <!-- <button *ngIf="profileImageDisplay && user.email.length > 0 && user.uniqueId.length > 0" mat-button (click)="logout()">Logout</button> -->
</mat-toolbar>
<br>
  <!-- <mat-progress-bar style="position: fixed;top: 62px;z-index: 600" *ngIf="sharedService.loading" mode="indeterminate"></mat-progress-bar> -->


<!--<mat-sidenav-container class="example-container">
  <mat-sidenav #sidenav class="example-sidenav">
    Jolly good!
  </mat-sidenav>

  <div class="example-sidenav-content">
    <button mat-button (click)="sidenav.open()">
      Open sidenav
    </button>
  </div>

</mat-sidenav-container>-->
