
  #wrapper{
    width: 100%;
}

.example-fill-remaining-space {
  flex: 1 1 auto;
}

.mat-toolbar.mat-primary {
    background: #0097A7;
    color: rgba(255,255,255,.87);
    box-shadow: 0 3px 5px -1px rgba(0,0,0,.2), 0 6px 10px 0 rgba(0,0,0,.14), 0 1px 18px 0 rgba(0,0,0,.12);
}


