<div id="myModal" class="modal fade" role="dialog">
  <img style="margin-top: 11%; margin-left: 30%" class="hidden-xs" src="../../assets/loader.gif">  
  <img style="margin-top: 61%; margin-left: 4%" class="visible-xs" height="30%" src="../../assets/loader.gif">  
</div>