<div class="col-xs-12 zeroPadding">
  <div *ngIf="!gotResponse" class="col-md-12 hidden-xs" style="text-align: center">
    <div  style="padding: 10px;text-align: center">
        <form action="http://localhost:8088/imageGeneration/upload" method="post" enctype="multipart/form-data">
          <img *ngIf="url" height="300px" rel="selfie" src="{{ url }}" (click)="selfie.click()" class="pointerCursor">
          <!-- <div style="background: url('../../assets/selfie-loop.gif') no-repeat 100%; background-size: contain;
          height: 300px" (click)="selfie.click()">
            <p>Take a Selfie</p>
          </div> -->
          <img *ngIf="!url" height="300px" rel="selfie" src="../../assets/selfieAnimation.gif" (click)="selfie.click()" class="pointerCursor">
          <!-- <button *ngIf="!url" mat-raised-button (click)="selfie.click()">Chouse a file</button><br> -->
          <input hidden style="display: none" type="file" #selfie  placeholder="Choose A File" id="FileBox" (change)="onSelectFile($event)"><br>
          <i *ngIf="!url" class="material-icons">arrow_upward</i>
          <h2 *ngIf="!url" style="margin-top: 2px">Take a selfie to get Polices</h2>
          <p><b style=color:blue=>{{errMessage}}</b></p>
        </form>

    </div>
  </div>
  <div class="col-xs-12 visible-xs zeroPadding" style="text-align: center">
      <form action="http://localhost:8088/imageGeneration/upload" method="post" enctype="multipart/form-data">
        <img *ngIf="url" height="300px" width="100%" rel="selfie" src="{{ url }}" (click)="selfie.click()" class="pointerCursor">
        <!-- <div style="background: url('../../assets/selfie-loop.gif') no-repeat; background-size: contain;
        height: 300px;width: 80%; padding-left: 20px" (click)="selfie.click()">
          <h2 style="background-color: rgba(0,0,0,0.4); position: absolute; bottom: 102px;color: white;padding-right: 37px;left: 121px"><mat-icon style="    font-size: 60px;" class="example-icon">camera_enhance</mat-icon></h2>
        </div> -->
        <img *ngIf="!url" height="300px" width="100%" rel="selfie" src="../../assets/selfieAnimation.gif" (click)="selfie.click()" class="pointerCursor">
        <!-- <button *ngIf="!url" mat-raised-button (click)="selfie.click()">Chouse a file</button><br> -->
        <input hidden style="display: none" type="file" #selfie  placeholder="Choose A File" id="FileBox" (change)="onSelectFile($event)"><br>
        <i *ngIf="!url" class="material-icons">arrow_upward</i>
        <h3 *ngIf="!url" style="margin-top: 2px">Take a selfie to get Polices</h3> 
        <p><b style=color:blue=>{{errMessage}}</b></p>
      </form>
    </div>
  
    <div *ngIf="gotResponse" class="col-md-4 hidden-xs" style="text-align: center">
        <div  style="padding: 10px;text-align: center">
            <form action="http://localhost:8088/imageGeneration/upload" method="post" enctype="multipart/form-data">
              <img *ngIf="url" height="300px" rel="selfie" src="{{ url }}" (click)="selfie.click()" class="pointerCursor">
              <!-- <div style="background: url('../../assets/selfie-loop.gif') no-repeat 100%; background-size: contain;
              height: 300px" (click)="selfie.click()">
                <p>Take a Selfie</p>
              </div> -->
              <img *ngIf="!url" height="300px" rel="selfie" src="../../assets/selfieAnimation.gif" (click)="selfie.click()" class="pointerCursor">
              <!-- <button *ngIf="!url" mat-raised-button (click)="selfie.click()">Chouse a file</button><br> -->
              <input hidden style="display: none" type="file" #selfie  placeholder="Choose A File" id="FileBox" (change)="onSelectFile($event)"><br>
              <i *ngIf="!url" class="material-icons">arrow_upward</i>
              <h2 *ngIf="!url" style="margin-top: 2px">Take a selfie to get Polices</h2>
              <p><b style=color:blue=>{{errMessage}}</b></p>
            </form>
    
        </div>
      </div>
  <div *ngIf="gotResponse" class="col-md-8 col-xs-12" style="text-align: center">
    <mat-form-field style="width: 80%">
      <input matInput placeholder="Name" [(ngModel)]="sharedService.selfieResponse.name">
    </mat-form-field>
    <mat-form-field style="width: 80%">
        <mat-select placeholder="Age Between" [(ngModel)]="sharedService.selfieResponse.age" (change)="refressData()">
          <mat-option *ngFor="let age of ageList" [value]="age">
            {{ age }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      
        <mat-form-field style="width: 80%">
            <mat-select placeholder="Gender" [(ngModel)]="sharedService.selfieResponse.gender" (change)="refressData()">
              <mat-option value="Male">Male</mat-option>
              <mat-option value="Male">Female</mat-option>
              <mat-option value="Male">Other</mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field style="width: 80%">
              <mat-select placeholder="Income range per annum" [(ngModel)]="sharedService.selfieResponse.income" (change)="refressData()">
                <mat-option value="3-5">3L-5L</mat-option>
                <mat-option value="5-7">5L-7L</mat-option>
                <mat-option value="7-10">7L-10L</mat-option>
                <mat-option value="10+">More then 10</mat-option>
              </mat-select>
            </mat-form-field>

  </div>

  <div class="col-xs-12" *ngIf="gotResponse">
      <div class="col-md-4 col-xs-12" *ngFor="let insurance of sharedService.selfieResponse.insurances">
          <mat-card class="example-card">
              <mat-card-header>
                <!-- <div mat-card-avatar class="example-header-image"></div> -->
                <mat-card-title>Name: {{ insurance.insuranceName }}</mat-card-title>
                <mat-card-subtitle>Age Group: {{ insurance.ageGroup}}</mat-card-subtitle>
              </mat-card-header>
              <img mat-card-image height="200px" src="{{insurance.companyUrl}}" alt="company image">
              <mat-card-content>
                <p>
                  Premium: <b>{{ insurance.premiumPerMonth }}/Month</b><br>
                  Policy term: <b>{{ insurance.policyTerm }} Years</b>
                </p>
              </mat-card-content>
              <mat-card-actions>
                <button routerLink={{insurance.companyLink}} mat-button>Know More</button>
                <button mat-button>Learn</button>
              </mat-card-actions>
            </mat-card><br><br>
      </div>
  </div>
  


</div>

<app-loader *ngIf="loader"></app-loader>


  